@{
    ViewData["Title"] = "Home Page";
}

<h1>Search City and Get Weather Forecast</h1>

<div>
  <strong>City Name  :</strong><input id="txtCity" type="text" />
  <strong>State Or Province Name  :</strong><input id="txtProvince" type="text" />
  <br />
  <br />
  <button id="btnSubmit">Get Weather Forecast</button>
</div>

<div>
  <h2>Weather Forecast</h2>
  <table>
    <tr>
      <td>
        <strong>City: </strong>
        <span id="lblCity"></span>  ,
        <span id="lblProvince"></span>  ,
        <span id="lblCountry"></span>
      </td>
    </tr>
    <tr>
      <strong>City Key: </strong>
      <label id="lblKey"></label>
    </tr>
    <tr>
      <td>
        <strong>Description:</strong>
        <label id="lblDescription"></label><br />
        <strong>Date:</strong>
        <label id="lblDate"></label>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Temperature (Min):</strong><label id="lblTempMin"></label><br />
        <strong>Temperature (Max):</strong><label id="lblTempMax"></label><br />
        <strong>Real Feel Temperature (Min):</strong><label id="lblRealFeelTemperatureMin"></label><br />
        <strong>Real Feel Temperature (Max):</strong><label id="lblRealFeelTemperatureMax"></label><br />
      </td>
    </tr>
  </table>
</div>

<script>
  $('#btnSubmit').on('click', function (e) {
      var cityname = $("#txtCity").val();
      var provincename = $("#txtProvince").val();
      $.ajax({
          type: "GET",
          url: '@Url.Action("GetCall", "Home")',
          data: { city: cityname, province: provincename },
          success: function (dataResult) {
            debugger;
              var data = JSON.stringify(dataResult.data);

              $("#lblKey").text(data.key);
              $("#lblCity").text(data.city);
              $("#lblProvince").text(data.province);
              $("#lblCountry").text(data.country);

              for (var i = 0; i < data.forcast.length; i++) {
                  $("#lblDescription").text(data.forcast[i].shortPhrase);
                  $("#lblDate").text(data.forcast[i].date);

                  $("#lblTempMin").text(data.forcast[i].temperature.minimum.value + ' ' + data.forcast[i].temperature.minimum.unit);
                  $("#lblTempMax").text(data.forcast[i].temperature.maximum.value + ' ' + data.forcast[i].temperature.maximum.unit);
                  $("#lblRealFeelTemperatureMin").text(data.forcast[i].realFeelTemperature.minimum.value + ' ' + data.forcast[i].realFeelTemperature.minimum.unit);
                  $("#lblRealFeelTemperatureMax").text(data.forcast[i].realFeelTemperature.maximum.value + ' ' + data.forcast[i].realFeelTemperature.maximum.unit);
              }
          },
          error: function (data) {
              alert("Failure");
          }
      });
  });
</script>
<div class="text-center">
  @*  <h1 class="display-4">Welcome</h1>*@
    <p>Andre Vosloo BBD Application</a>.</p>
</div>
